

.Submit{
    background-color: #EA4B32;
    outline: none;
    border: none;
}

.Save{
    background-color: #EA4B32;
    outline: none;
    border: none;
}

Button{
    font-weight: bold;
}

.Close{
    background-color: white;
    color: #EA4B32;
    outline: none;
    border: 1px solid #EA4B32;
}